<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
			<!-- Add a custom handler for serving the log file -->
			<add name="LogFileHandler" path="logs/*.log" verb="GET" type="System.Web.StaticFileHandler" resourceType="File" preCondition="integratedMode" />
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" hostingModel="inprocess" />
	</system.webServer>

</configuration>
