.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-image: url('/img/Login-Register/Best-Light-Novels.webp');
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    padding: 30px 100px;
    background: linear-gradient(90deg, rgba(255, 49, 49, 0.1) 0%, rgba(255, 145, 77, 0.1) 100%);
    backdrop-filter: blur(4px);
    align-items: center;
    border-radius: 20px;
}

.login-form h1{
    font-weight:700;
}

.input-container{
    max-width:350px;
    color:black;
    display:flex;
    flex-direction: column;
    padding:20px;
}

    .input-container input {
        background-color: rgba(255, 49, 49, 0.0);
        border: none;
        border-bottom: 1px solid gray;
        padding: 10px;
    }
    .input-container input:focus::placeholder {
        color: darkgray;
    }
    .input-container input:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

.submit {
    background: linear-gradient(90deg, rgba(255, 49, 49, 0.1) 0%, rgba(255, 145, 77, 0.1) 100%);
    backdrop-filter: blur(4px);
    width: 50%;
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin-top: 30px;
}

        .submit:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

span {
    font-size: 15px;
    font-weight: bold;
    max-width: 200px;
}

.create-account-msg{
    margin-top:30px;
    color:black;
}
.create-account-msg a{
    text-decoration:none;
}