body, html {
    height: 100%;
}

.items-container{
    height: 100%;
    display:flex;
    flex-direction:row;
}

.main-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: gray;
    flex: 0 0 280px; /* Set initial width of the sidebar */
    min-width: 200px; /* Set minimum width to prevent it from becoming too narrow */
    max-width: 30%; /* Set maximum width to ensure it doesn't take up too much space */
    height: 800px;
    background-color: #f0f0f0; /* Example background color */
}

.pagination-container {
    margin-top: 20px;
    margin-right: 20px;
    align-self: flex-end;
}

    .pagination-container.bottom {
        margin-top: auto;
    }

.page-list {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

.book-cards {
    display: flex;
    flex-direction: column;
}

.book-card{
    margin: 20px;
    border: 1px solid gray;
}