/*Keyframes*/
@keyframes linear_fade {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes pan-LEFT-animation {
    0% {
        transform: translate(-80px, 0px);
        animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1.0);
    }

    100% {
        transform: translate(0px, 0px);
    }
}
/*creates the animated effect for everything*/
.animated-container {
    width: 100%;
    height: 100%;
    animation: 1000ms ease 100ms 1 normal both running pan-LEFT-animation, 400ms linear 0s 1 normal both linear_fade;
}


/*section 1*/
.section1 {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.left-div{
    display: flex;
    flex-direction:column;
    width: 93%;
    align-items:center;
}

.left-div .animated-container{
    text-align:center;
}

    .left-div p {
        font-family: "Roboto Mono", monospace;
        font-weight: 700;
        font-size: 90px;
        padding-bottom: 150px;
        color: #fe502d;
    }

    .left-div a {
        text-decoration: none;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        border: 2px solid;
        padding: 10px 35px;
        font-size: 35px;
        color: black;
    }

.right-div {
    margin-right: 90px;
}

.section1-picture-container {
    background: linear-gradient(90deg, rgba(255, 87, 87, 1.000000) 0%, rgba(140, 82, 255, 1.000000) 100%);
    margin-right: 90px;
    padding:40px;
    width: 100%;
}

/*section 2*/
.section2{
    overflow:hidden;
}

.section2-items-container {
    position:relative;
    display: flex;
    width: 100%;
}
.section2-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url('/img/HomePage/2022collage.jpg');
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.section2-collection {
    background: linear-gradient(90deg, rgba(255, 49, 49, 1.000000) 0%, rgba(255, 145, 77, 1.000000) 100%);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 8%;
    padding-bottom: 5%;
    margin: 9% 25% 13%;
    align-items: center;
}

    .section2-collection h2 {
        font-family: "Roboto Mono", monospace;
        font-weight: 600;
        font-size: 40px;
        margin-left: 100px;
        margin-right: 100px;
        text-align:center;
        padding-bottom: 100px;
        color: black;
    }

    .section2-collection a {
        text-decoration: none;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        border: 2px solid;
        padding: 10px 35px;
        font-size: 20px;
        color: black;
    }


/*section 3*/
.section3 {
    overflow: hidden;
}

.sections-title-container{
    width: 87%;
    margin-left: 100px;
    border-bottom: 3px solid black;
}
    .sections-title-container h1 {
        font-size: 40px;
        font-weight: 400;
        color: white;
        background-color: black;
        padding: 20px 10px;
        width: 30%;
        text-align: center;
    }

.section3 .animated-container {
    display: flex;
    flex-direction: column;
}

.card-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.card{
    width: 70%;
    margin: 4% 12%;
}

.card img{
    height: 410px;
}

.details {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
    border: 1px solid;
    border-top: none;
}

.details h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 20px;
}
    .details p {
        font-family: "Roboto Mono", monospace;
        font-size: 15px;
        padding-top:10px;
        padding-bottom:45px;
    }

    .details a {
        text-decoration: none;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        border: 1px solid;
        padding: 10px 35px;
        font-size: 15px;
        color: black;
    }


/*section 4*/
.section4{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.news-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 60%;
    margin: 15px 0px 95px 0px;
    padding: 150px 30px 150px 30px;
    border: 1px solid black;
}

    .news-container h1 {
        font-family: "Roboto Mono", monospace;
        font-weight: 600;
        padding: 10px 35px;
        font-size: 45px;
        text-align:center;
        color: black;
    }
    .news-container p {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        padding: 10px 35px;
        font-size: 30px;
        text-align: center;
        color: black;
    }
/*footer*/
/* Main footer container */
.main-footer {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa; /* Adjust as needed */
}

/* Footer container */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.main-picture-container {
    height: 296px; 
    position: relative;
    width: 100%;
}

.picture-placeholder {
    width: 100%;
    height: 100%;
}

    .picture-placeholder img {
        width: 100%;
        height: 296px;
        display: block;
        object-fit: cover;
    }

.main-footer-title-container {
    margin-left: 20px;
    width: 100%;
}

.footer-title {
    font-family: "Roboto Mono", monospace;
    font-size: 44px;
    color: #333;
    display: flex;
    justify-content: flex-end;
    margin-right:55px;
}

    .footer-title span {
        color: #fe502d;
    }

.main-links-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px; 
}

.links-title {
    font-family: "Roboto Mono", monospace;
    font-size: 28px;
    color: #333;
}

    .links-title span {
        color: #fe502d;
    }

.links {
    margin-top: 10px; 
}

    .links p {
        margin: 0;
    }

        .links p a {
            font-family: "Roboto Mono", monospace;
            font-size: 16px;
            color: #555;
            text-decoration: none;
        }

            .links p a:hover {
                color: #fe502d;
            }