<link rel="stylesheet" href="~/css/Reset.css" />
<link rel="stylesheet" href="~/css/footerStyles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/ErrorPagesStyles/Error404.css" asp-append-version="true" />

<div class="exception-container">
    <div class="img-container">
        <img src="~/img/3342e4ba684ff017acff7382cad86c7f.jpg" />
    </div>
    <div class="exception-conent">
       <p style="color:red">Access denied</p>
       <p> Go back to <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a></p>
    </div>
</div>