
.card {
    transition: transform 0.2s;
}

    .card:hover {
        transform: translateY(-5px);
    }

.buttons {
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
}

    .pagination .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
    }

    .pagination .page-link {
        color: #007bff;
    }

        .pagination .page-link:hover {
            color: #0056b3;
        }
