.main{
    min-height: 83vh;
}

.exception-container {
    display: flex;
    height: 81vh;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px 0px 50px;
}

.title{
    margin-bottom: 25px;
}

p {
    font-size: 27px;
}
