.layout-footer{
    position:absolute;
    bottom:0;
    width: 100%;
}
body {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: #fff;
}

h1.title {
    text-align: center;
    padding: 50px 0;
    font-weight: 600;
    font-size: 36px;
}

.order-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px;
}

.order-info {
    margin-right: 100px;
}

.order-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.order-img-container {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

    .order-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.input {
    margin-bottom: 20px;
}

    .input label {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .input input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        font-size: 16px;
    }

        .input input:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);
        }

.order-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .order-btn:hover {
        transform: scale(1.05);
    }

.price {
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.price-span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .order-section {
        flex-direction: column;
    }

    .order-information {
        width: 100%;
    }
}